*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  padding: 4px 17vw;
}
header > .header_wrap > .right > h2 {
  font-size: 20px;
  padding: 20px;
}
.header_wrap > .middle > ul > li {
  display: flex;
  justify-content: end;
  gap: 10px;
  font-size: 15px;
}
.header_wrap {
  display: flex;
  justify-content: space-between;
}
header > .header_wrap > .left > .aba-logo > img {
  width: 100px;
}
header > .header_wrap > .right {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
header > .header_wrap > .right > button {
  height: 35px;
  width: 110px;
  border-radius: 24px;
  background: linear-gradient(#d4151f, red);
  color: white;
  border: none;
  font-size: 15px;
  padding: 3px;
}
.header_wrap > .middle {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 50px;
}
.header_wrap > .middle > ul {
  display: flex;
  flex-wrap: wrap;
}
.header_wrap > .middle > ul > li {
  list-style-type: none;
  width: fit-content;
  gap: 20px;
  padding: 0 20px;
  flex-grow: 1;
}
.header_wrap > .middle > ul > li > i:hover {
  color: rgb(199, 199, 199);
}
.header_wrap > .middle > ul > li > span:hover {
  border-bottom: 2px solid red;
}
.header_wrap > .middle > ul > li > i:hover {
  border-bottom: 2px solid red;
  border: none;
}
.carousel-inner img {
  width: 100vw;

  object-fit: cover;
}

.container {
  max-width: 100vw;
  padding: 0;
  margin: auto;
}

.carousel-item > img {
  width: 100vw;
  position: relative;
}
main {
  position: relative;
}
main > nav {
  top: 0;
  position: sticky;
  z-index: 100;
}

main > nav > ul {
  display: flex;
  gap: 2px;
  justify-content: center;
  padding: 0 10px;
  margin-top: 0px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 1000px;
  min-width: 1012px;
  min-width: 100px;
  flex-wrap: wrap;
}
main > nav > ul > li {
  position: relative;
  height: 40px;
  flex-grow: 1;
}
/* main > nav > ul > li:hover{
    background-color: rgb(135, 38, 38);
} */

main > nav > ul > li > ul {
  position: absolute;
  height: 0px;
  width: 200px;
  top: 100%;
  left: -29px;
  background-color: var(--primary-200);
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  z-index: 100;
  border-top: 1px solid transparent;
}

.tab {
  background-color: white;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  color: black;
}

.tab > .tab-tab {
  padding: 10px;
  text-align: end;
  cursor: pointer;
  
}

.tab > .tab-tab:hover {
  text-decoration: underline var(--gold);
  color: var(--gold);
}
main > nav > ul > li:hover > ul {
  height: 300px;
  border-top: 1px solid var(--gold-slate);
}

main > nav > ul > li:hover .tab {
  opacity: 1;

}

main > nav > ul > li {
  list-style: none;
  background: linear-gradient(#002538, #014d70);
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  padding: 10px;
  flex-grow: 1;
}

.under-container {
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/008/196/155/small/background-image-from-thin-black-stripes-arranged-diagonally-illustration-vector.jpg");

  padding: 50px 0;
  width: 100%;
  /* flex-wrap: wrap; */
  box-shadow: 0 0 5px 2px;
}
.under-container {
  display: flex;
  justify-content: center;
  padding: 20px 50px;
  gap: 20px;
}
.under-container > .right > .img,
.under-container > .middle > .img,
.under-container > .left > .img {
  height: 20vw;
  width: 30vw;
  max-height: 200px;
  max-width: 300px;
  background-color: red;
  position: relative;
  overflow: hidden;
  background-image: url("https://www.ababank.com/typo3temp/fl_realurl_image/aba-navi-feature-en-v2-70.jpg");
  background-size: cover;
}
.under-container > .middle > .img {
  background-image: url("https://www.ababank.com/uploads/tx_news/aba_visa_awards_2025_dt_en.jpg");
}
.under-container > .right > .img {
  background-image: url("https://www.ababank.com/typo3temp/fl_realurl_image/forex-thumbnail-b7.jpg");
}
.carousel-item > .d-block {
  height: 400px;
  width: 100%;

  object-fit: cover;
}

.under-container > .middle > .img > p,
.under-container > .right > .img > p,
.under-container > .left > .img > p {
  position: absolute;
  bottom: -50px;
  background-color: rgba(0, 0, 0, 0.509);
  color: white;
  width: 100%;

  text-align: center;
  padding: 5px;
  transition: bottom 0.4s ease-in-out;
}
.under-container > .right > .img:hover p,
.under-container > .middle > .img:hover p,
.under-container > .left > .img:hover p {
  bottom: 0;
  bottom: -15px;
}

.under-container > .left > h2,
.under-container > .middle > h2,
.under-container > .right > h2 {
  border-bottom: 2px solid red;
  width: fit-content;
  gap: 10px;
  font-size: 2vw;
}
.under-container > .left,
.under-container > .middle,
.under-container > .right {
  height: fit-content;
  flex-wrap: wrap;
}
.under-container > .left > .img > img,
.under-container > .middle > .img > img,
.under-container > .right > .img > img {
  width: 30vw;
  height: 15vw;
  object-fit: cover;
  max-width: 350px;
  max-height: 200px;
}
footer {
  width: 100%;

  padding: 20px 0 0 0;
}
footer > .top {
  width: 100%;
  padding: 0 13vw;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
footer > .top > p {
  padding: 0 35px;
}
footer > .top > .media {
  min-width: 350px;
  padding: 0;
}
footer > .top > .media > ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
footer > .top > .media > ul > li > img {
  width: 40px;
  border-radius: 50px;
}

footer > .buttom {
  width: 100%;

  display: flex;
  justify-content: center;
  background-color: #00364f;
}
footer > .buttom > .right {
  width: 60%;
  color: white;
  padding: 15px 0;
}
footer > .buttom > .left {
  width: 40%;

  margin: auto;
  display: flex;
  justify-content: center;
}
footer > .buttom > .left > img {
  width: 200px;
}

.buttom > .right > .over > ul {
  display: flex;
  list-style: none;
  gap: 10px;
  justify-content: start;
  padding: 0;
}
.buttom > .right > .over > ul > li {
  display: flex;
  justify-content: start;
}
.buttom > .right > .under > p {
  font-size: 10px;
}
.top > .media > ul > li > img:hover {
  border: 2px solid greenyellow;
  cursor: pointer;
}
.buttom > .left > img:hover {
  cursor: pointer;
}
.buttom .right .over ul li:hover {
  cursor: pointer;
  border-bottom: 2px solid white;
}
